@import '/src/styles/utils/mixins';
.city_title {
  text-transform: uppercase;
  text-align: center;
  color: #4793FF;
}

.container {
  display: flex;
  justify-content: space-between;
}

.weather {
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  margin-bottom: 50px;

  @include onDesktop {
    width: 900px;
  }

  @include onPhone {
    flex-direction: column;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 2px solid #4793FF;
    border-radius: 20px;
    padding: 20px;

    @include onDesktop {
      width: 300px;
    }

    &--date {
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
    }

    &--tempblock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-bottom: 20px;
    }

    &--temp {
      font-size: 55px;
      color: #4793FF;
      display: flex;
      align-items: flex-end;
    }

    &--image {
      width: 70px;
      height: 70px;
    }

    &--text {
      font-size: 27px;
      color: #4793FF;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    border: 2px solid #4793FF;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;

    @include onDesktop {
      width: 500px;
    }
    

    &--tempimage {
      width: 64px;
      height: 64px;

      @include onPhone {
        width: 44px;
        height: 44px;
      }

      @include onTablet {
        width: 44px;
        height: 44px;
      }
    }

    &--firstimage {
      margin-left: 9px;
    }

    &--text {
      font-size: 45px;
      color: #4793FF;

      @include onPhone {
        font-size: 40px;
      }

      @include onTablet {
        font-size: 40px;
      }

    }
  }
}