.header {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 30px;
  width: 1200px;
  height: max-content;
  align-items: center;


  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;

    &--logo {
      width: 64px;
      height: 64px;
      transition: 1.3s all;

      &:hover {
        transform: rotateY(360deg);
      }
    }

    &--title {
      text-transform: uppercase;
      color: #4793FF;
    }

    &--error {
      font-size: 24px;
      color: #ff0000d1;
    }

    &--search {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &--input {
      border: 1px solid black;
      border-radius: 30px;
      padding: 5px;
    }

    &--button {
      border: 0;
      transition: all 0.5s;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &--img {
      width: 34px;
      cursor: pointer;
      outline: none;
      border: 0;
      background: transparent;
     }
  }
}


